
<div class="text-container">
  <h1>Bookings</h1>
  <p>Here are all the instruments you currently have booked</p>
    <div>
      <ul>
        <% @bookings.each do |booking| %>
          <div class="card-product">
              <img src= "https://source.unsplash.com/random/?<%=booking.instrument.name%>">
            <div class="card-product-infos">
              <%= booking.instrument.name %>
              <h2>Booking status: Confirmed</h2>
              <%= link_to "View more instruments", instruments_path %>
            </div>
          </div>
      <% end %>
      </ul>
    </div>
</div>
