.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // padding: 10px;

}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}
